@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: white;
    background-color: black;
}

.text-left {
    text-align: left;
    justify-content: left;
}
.text-center {
    text-align: center;
    justify-content: center;
}
.text-right {
    text-align: right;
    justify-content: right;
}

.page-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.div-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}